@model Recipehub.Models.CatFact

@{
    ViewData["Title"] = "The Cat";
}

<h1>Cat Fact</h1>

<div>
    <h3>Your Cat Fact:</h3>
    <p>@Model.Fact</p>
</div>

<a href="@Url.Action("Index", "CatFactsController")">Get Another Cat Fact</a>